
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: black !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app {
  min-height: 100vh;
  background-image: url("/img/bg2.jpg");
  background-repeat: repeat-x;
  background-attachment: local;
}

.book{
  padding: 3px !important;
  img{
    cursor: pointer;
  }
}
.book:hover{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.row-product-bot {
  background-image: url("/img/Row-product-bot.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100px;
}

.books {
  padding-top: 120px;
  margin-bottom: -35px;
  z-index: 1;
  text-align: center;
  img {
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.75);
    height: 218px;
    width: 155px;
    margin: 5px;
  }
  img:hover {
    box-shadow: 0 7px 13px 0 rgba(0,0,0,0.75);
    margin-top: -10px;
    cursor: pointer;
  }
}

.book-list{
  img {
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.75);
    height: 250px;
    width: 182px;
  }
}
